<div id="cpm">
    <p-dialog [showHeader]="false" [(visible)]="display" (onHide)="onHide()" [modal]="true" [dismissableMask]="true" [resizable]="false">
        <div class="row" style="display: block;">
            <div class="col-sm-12">
                <form #f="ngForm" novalidate (ngSubmit)="change(f)">
                    <!--Old Password-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="icon">
                                    <div [inlineSVG]="'assets/icons/_PasswordIcon.svg'"></div>
                                </div>
                                <div class="text-input">
                                    <input id="current-password" type="password" required name="currentPassword" [ngModel]="changePassword.currentPassword" tmFocus class="form-control" placeholder="Current Password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--New Password-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="icon">
                                    <div [inlineSVG]="'assets/icons/_PasswordIcon.svg'"></div>
                                </div>
                                <div class="text-input">
                                    <input id="new-password" type="password" required name="newPassword" [ngModel]="changePassword.newPassword" class="form-control" placeholder="New Password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Confirm New Password-->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="icon">
                                    <div [inlineSVG]="'assets/icons/_PasswordIcon.svg'"></div>
                                </div>
                                <div class="text-input">
                                    <input id="confirm-new-password" type="password" required name="confirmNewPassword" [ngModel]="changePassword.confirmNewPassword" class="form-control" placeholder="Confirm New Password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Submit-->
                    <div class="form-group">
                        <div class="row" id="change-password-submit">
                            <div class="col-sm-12">
                                <div id="submit-icon">
                                    <div [inlineSVG]="'assets/icons/_LoginIcon.svg'"></div>
                                </div>
                                <button type="submit" class="btn btn-default" [disabled]="f.invalid || isRequesting">Change Password</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="errors" class="alert alert-danger" role="alert">
                        <strong>Oops!</strong> {{errors}}
                    </div>
                </form>
            </div>
        </div>
    </p-dialog>
</div>